/* 검색창 */
:root{
	 --bs-gr: #495057;
}

.case {
	padding: 32px;
}

.input_wrap {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	border: 1px solid #f8f8f8;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 1px 2px 0 rgb(0 0 0/ 16%);
}

input {
	padding: 0;
	padding-left: .4em;
	color: #030303;
	border: 1px solid #ddd;
}

.search_input {
	width: 100%;
	height: 42px;
	font-size: 16px;
	color: #777;
	line-height: 40px;
	border: none;
	background: none;
}

.case_search_btn {
	width: 20px;
	height: 20px;
	margin-right: 16px;
	margin-left: 16px;
}

.suggestions {
	border-top: 0.5px solid;
}

.suggestions>div {
	padding: 5px;
	border-top: 1px solid #888;
	cursor: pointer;
}

.suggestions>div:hover {
	background-color: rgb(207, 204, 204);
}
/*리뷰 이미지 스와이퍼*/
.swiper {
	margin: 100px auto;
	width: 320px;
	height: 240px;
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	
}

.swiper-wrapper {
	overflow: hidden;
	
}

/*해쉬태그*/
ul {
  padding: 5px 0px;
  
}

ul li {
  display: inline-block;
  margin: 0 5px;
  font-size: 14px;
  letter-spacing: -.5px;
}
ul li.tag-item {
  padding: 4px 8px;
  background-color: #fdc6a2;
  color: #000;
  border-radius: 10px;
}

.tag-item:hover {
  background-color: #ff8080;
  color: #fff;
}

.del-btn {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 8px;
}
/*리뷰 이미지*/
.cities-town .slider-content {
  min-height: 100%;
  max-height: 100%;
  position: relative;
  margin-top: -70px;
  background-color: #fff;
  border-radius: 23px;
  padding: 60px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}

.cities-town .slider-content h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.cities-town .slider-content h2 em {
  font-style: normal;
  color: #22b3c1;
}

.cities-town .slider-content .item .thumb {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.cities-town .slider-content .item .thumb h4 {
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 20px;
  color: #fff;
}

.cities-town .owl-nav {
  position: absolute;
  top: -60px;
  right: 0;
}

.cities-town .owl-nav .owl-next span {
  display: none;
}

.cities-town .owl-nav .owl-next::after {
  font-family: "FontAwesome";
  content: '\f061'; 
  color: #cdcdcd;
  font-size: 20px;
  transition: all .3s;
}

.cities-town .owl-nav .owl-prev span {
  display: none;
}

.cities-town .owl-nav .owl-prev::after {
  font-family: "FontAwesome";
  content: '\f060'; 
  color: #cdcdcd;
  margin-right: 15px;
  font-size: 20px;
  transition: all .3s;
}

.cities-town .owl-nav .owl-prev:hover::after,
.cities-town .owl-nav .owl-next:hover::after {
  color: #22b3c1;
}



/*border round*/



/*
input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
  }
  
  label {
    display: block;
    position: absolute;
    width: 100px;
    height: 34px;
    border-radius: 17px;
    background-color: #ddd;
    transition-duration: 0.2s;
  }
  
  label span {
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    transition-duration: 0.2s;
  }
  
  label:before,
  label:after{
    position: absolute;
    top: 0;
    width: 34px;
    font-size: 11px;
    line-height: 34px;
    color: #fff;
    text-align: center;
  }
  
  label:before {
    left: 0;
  }
  
  label:after {
    right: 0;
  }
  
  input:checked + label {
    background-color: #ecd1f8;
  }
  
  input:checked + label span {
    left: 29px; 
    transform: translateX(26px);
  }*/