
/*리뷰 이미지 스와이퍼*/
.swiper {
	margin: 100px auto;
	width: 320px;
	height: 240px;
}

.swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	
}

.swiper-wrapper {
	overflow: hidden;
	
}

/*해쉬태그*/
ul {
  padding: 5px 0px;
  
}

ul li {
  display: inline-block;
  margin: 0 5px;
  font-size: 14px;
  letter-spacing: -.5px;
}
ul li.tag-item {
  padding: 4px 8px;
  background-color: #808080;
  color: #fff;
  border-radius: 10px;
}

.tag-item:hover {
  background-color: #565656;
  color: #fff;
}

.del-btn {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 8px;
}


/*border round*/



/*
input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
  }
  
  label {
    display: block;
    position: absolute;
    width: 100px;
    height: 34px;
    border-radius: 17px;
    background-color: #ddd;
    transition-duration: 0.2s;
  }
  
  label span {
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 1;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    transition-duration: 0.2s;
  }
  
  label:before,
  label:after{
    position: absolute;
    top: 0;
    width: 34px;
    font-size: 11px;
    line-height: 34px;
    color: #fff;
    text-align: center;
  }
  
  label:before {
    left: 0;
  }
  
  label:after {
    right: 0;
  }
  
  input:checked + label {
    background-color: #ecd1f8;
  }
  
  input:checked + label span {
    left: 29px; 
    transform: translateX(26px);
  }*/