<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project522.mapper.ReviewMapper">
	<!-- 리뷰 등록 -->
	<insert id="insertReview"
		parameterType="com.project522.domain.ReviewVO">
		Insert into review(REVIEW_NUM, Review_SelectTag1,
		Review_SelectTag2, Review_SelectTag3, Review_SelectTag4,
		Review_HashTag, REVIEW_TITLE, REVIEW_CONTENT,Review_Image,REVIEW_CAFENAME,REVIEW_CAFEADDR)
		values(review_seq.NEXTVAL, #{review_SelectTag1}, #{review_SelectTag2},
		#{review_SelectTag3}, #{review_SelectTag4},
		#{review_HashTag},#{review_Title}, #{review_Content},#{review_Image},#{review_Cafename},#{review_Cafeaddr})
		<selectKey keyProperty="review_Num" resultType="Integer" order="AFTER">
			SELECT review_seq.currval FROM dual
		</selectKey>
	</insert>
	
	<!-- 태그1 가져오기 -->
	<select id="getReviewTag1"
		resultType="com.project522.domain.TagVO">
		Select tag_Content from tag where tag_Category=1
	</select>
	<!-- 태그2 가져오기 -->
	<select id="getReviewTag2"
		resultType="com.project522.domain.TagVO">
		Select tag_Content from tag where tag_Category=2
	</select>	
	<!-- 태그3 가져오기 -->
	<select id="getReviewTag3"
		resultType="com.project522.domain.TagVO">
		Select tag_Content from tag where tag_Category=3
	</select>	
	<!-- 태그4 가져오기 -->
	<select id="getReviewTag4"
		resultType="com.project522.domain.TagVO">
		Select tag_Content from tag where tag_Category=4
	</select>
	
	
	<!-- 리뷰 제목 가져오기 중복 제거 -->
	<select id="getReviewList" resultType="com.project522.domain.ReviewVO">
	  SELECT DISTINCT REVIEW_CAFENAME FROM review
	</select>
	
	<!-- 리뷰 리스트 가져오기 -->
	<select id="getReviewListByCafename" resultType="com.project522.domain.ReviewVO">
	  SELECT * FROM review WHERE REVIEW_CAFENAME = #{review_Cafename}
	</select>
	
	<!-- 리뷰 상세 내용 가져오기 -->
	<select id="get" resultType="com.project522.domain.ReviewVO">
		Select * from review where review_Num = #{Rnum}
	</select>
	
	<delete id="deleteReview">
		delete from review where review_Num = #{Rnum}
	</delete>
	
	<update id="modifyReview" parameterType="com.project522.domain.ReviewVO">
		update review set
		Review_SelectTag1=#{review_SelectTag1},
		Review_SelectTag2=#{review_SelectTag2},
		Review_SelectTag3=#{review_SelectTag3},
		Review_SelectTag4=#{review_SelectTag4},
		Review_HashTag=#{review_HashTag},
		REVIEW_TITLE=#{review_Title},
		REVIEW_CONTENT=#{review_Content},
		Review_Image=#{review_Image}
		where review_Num=#{review_Num}
	</update>
	
	<!-- 전체 review 조회(추가 2023.04.19)-->
	<select id="getAllReview" resultType="com.project522.domain.ReviewVO">
		select * from review where review_Num>0
	</select>
</mapper>