<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project522.mapper.CommunityMapper">
	<select id="viewAll"
		resultType="com.project522.domain.CommunityVO">
		SELECT * FROM community
	</select>

	<select id="getList"
		resultType="com.project522.domain.CommunityVO">
		SELECT
		community_num,community_category,community_title,community_date,community_map,user_id,community_place,community_schedule
		FROM community
	</select>

	<select id="categoryList"
		resultType="com.project522.domain.CommunityVO">
		SELECT
		community_num,community_category,community_title,community_date,community_map,user_id,community_place,community_schedule
		FROM community
		WHERE community_category=#{community_category}
	</select>

	<select id="getCommentList"
		resultType="com.project522.domain.ReplyVO">
		SELECT comment_num, community_num,
		comment_contents,
		user_id, comment_date, comment_ori_number
		FROM REPLY
		WHERE
		community_num
		= #{community_num}
	</select>

	<select id="get" resultType="com.project522.domain.CommunityVO">
		SELECT * FROM community WHERE
		community_num = #{community_num}
	</select>

	<select id="getComment"
		resultType="com.project522.domain.ReplyVO">
		SELECT *
		FROM REPLY
		WHERE
		comment_num
		= #{comment_num}
	</select>

	<insert id="register"
		parameterType="com.project522.domain.CommunityVO">
		Insert into
		community(community_num,community_category,community_title,
		community_context, community_date, community_map, user_id,
		community_place, community_schedule)
		values(community_seq.nextval,
		#{community_category}, #{community_title}, #{community_context},
		to_char(sysdate, 'YYYY-MM-DD'), #{community_map},
		#{user_id},#{community_place}, #{community_schedule})
	</insert>
	<insert id="registerReply"
		parameterType="com.project522.domain.ReplyVO">
		INSERT INTO ADMIN.REPLY
		(COMMENT_NUM, COMMUNITY_NUM,
		COMMENT_CONTENTS, USER_ID, COMMENT_DATE,
		COMMENT_ORI_NUMBER)
		VALUES(reply_seq.nextval, #{community_num}, #{comment_contents},
		#{user_id}, to_char(sysdate, 'YYYY-MM-DD'), #{comment_ori_number})
	</insert>
	<update id="modify"
		parameterType="com.project522.domain.CommunityVO">
		update community set
		community_title=#{community_title},
		community_category=#{community_category},
		community_context=#{community_context},
		community_map=#{community_map},
		community_place=#{community_place},
		community_schedule=#{community_schedule}
		where
		community_num=#{community_num}
	</update>
	<update id="modifyReply"
		parameterType="com.project522.domain.ReplyVO">
		UPDATE REPLY
		SET COMMENT_CONTENTS=#{comment_contents}
		where
		comment_num=#{comment_num}
	</update>
	<delete id="remove"
		parameterType="com.project522.domain.CommunityVO">
		delete from community where
		community_num=#{community_num}
	</delete>
	<delete id="removeReply"
		parameterType="com.project522.domain.ReplyVO">
		delete from REPLY where
		comment_num=#{comment_num}
	</delete>
	<sql id="criteria">
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							community_title like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'C'.toString()">
							community_context like '%' || #{keyword} || '%'
						</when>
						<when test="type == 'W'.toString()">
							user_id like '%' || #{keyword} || '%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	<select id="getListWithPaging"
		resultType="com.project522.domain.CommunityVO">
	<![CDATA[
		select 
		*
		from ( 
		select 
		/*+ INDEX_DESC(community pk_board) */ 
		rownum rn, 
		community_num,community_category,community_title,
		community_date, community_map, user_id,
		community_place, community_schedule
	 	from
   		 	community
   		 	 where 
   		]]>
		<include refid="criteria"></include>
   		<![CDATA[		
   			rownum<= #{pageNum} * #{amount}
   			)
   			
   			where rn>(#{pageNum}-1) * #{amount}
   			]]>

	</select>

	<select id="getTotalCount" resultType="int">
		select count(*) from community where
		<include refid="criteria"></include>
		community_num > 0
	</select>
</mapper>